*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif; 
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0px 9px 8px #eee;
    padding: 3% 5%;
    
}

.Header h3{
    color: dodgerblue;
}

.Header span{
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 0px 25px;
}

nav div:hover .label{
    color:dodgerblue ;
}

.label1:hover  {
    color:dodgerblue;
}

.dropdown{
    display: none;
    position: absolute;
    width: 210px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
    z-index: 1;
}

.dropdown a{
    color: black;
}

.Menu-ctr:hover .dropdown{
    display: block;
}

.dropdown div:hover{
    background-color: rgb(255, 255, 255);
}

/* Up */

.Up{
    padding-top: 50px;
    padding-bottom: 5%;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.Text{
    max-width: 600px;
}

.Text h5{
    padding-top: 5px;
    font-size: 20px;
}

/* Slider */

i{
    margin: 0 20px;
}

#slider-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title{
    text-align: center;
    padding: 10px 0px;
}

/*Item*/

#item-cont{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding-bottom: 5%;
    margin-left: 90px;
}
.item{
    min-width: 352px;
    min-height: 400px;
    width: 320px;
    height: 420px;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0 0 0 0px;
    box-shadow: 0px 1px 9px 8px #eee;
}

.item span{
    text-align: center;
}

.item-price{
    min-width: 100px;
    text-align: center;
    height: 100%;
    justify-content: center;
}   


/* footer */

.footer {
    padding: 3% 0px;
    box-shadow: 1px 0px 8px 9px #eee;
}
.footer-cont{
    display: flex;
    margin-left: 5%;
}

.logo span{
    color: black;
}

.logo{
    padding-right: 5%;

}